# Django Environment & Secrets
.env
.env.*
!.env.example
*.json
!package.json
!tsconfig.json

# Credentials & Service Account Keys
credentials/
credentials.json
somu credentials.json
service key.json
credetials.json

# Python & Virtualenv
.venv/
venv/
ENV/
__pycache__/
*.py[cod]

# Database & Dump Files
*.sqlite3
*.db
*.sql

# Logs & Media Uploads
*.log
media/uploads/
media/customization/

# IDE & OS Files
.DS_Store
Thumbs.db
.idea/
.vscode/
